.galeria {
    padding: $separacion 0;
    h3 {
        text-align: center;
    }
}

.galeria-imagenes {
    padding: 0;
    list-style: none;
    margin-top: $separacion;
    li {
        &:hover {
            cursor: pointer;
        }
    }
    @include grid(2, $separacion);

    @include tablet {
        @include grid(4, $separacion / 2);
    }

    @include desktop {
        @include grid(6, $separacion / 2);
    }
}

.overlay-galeria {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    position: fixed;
    width: 100%;
    top: 0;
    display: grid;
    place-items: center;
    z-index: 1;
}

.btn-cerrar {
    background-color: $blanco;
    border-radius: 50%;
    border: none;
    display: grid;
    font-size: 3rem;
    font-weight: $bold;
    height: 5rem;
    place-items: center;
    width: 5rem;
    &:hover {
        cursor: pointer;
    }
}
